.footer {
  background-color: var(--color-bg2);
  color: var(--color-fg3);
  font-size: 0.85em;

  &__content {
    padding-top: 1.2ch;
    padding-bottom: 2.6ch;
    > div {
      margin: 0.7ch 0;
    }
  }

  .vercel-icon {
    display: flex;
  }

  span {
    margin: 0 0.25ch;
  }
  a {
    color: var(--color-fg2);
    &:link,
    &:visited {
      text-decoration: none;
    }
    &:hover,
    &:active {
      color: var(--color-fg);
      text-decoration: underline;
    }
  }

  svg {
    height: 1em;
    fill: currentColor;
  }
}

.results-container {
  margin-bottom: 8rem;

  > [role="separator"] {
    margin: 4rem -100vw;
  }
}

.results-section {
  // @include debug;
  h2 {
    margin: 0 0 0.5em;
    font-size: 3em;
  }
}

.result-card {
  margin: 0 2ch 2ch;
  width: min(40%, 300px);
  position: relative;
  &.song {
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  &__content {
    padding: 2ch;
  }

  .result-card__content {
    hr {
      margin: 2ch 0;
    }
  }

  .result-card__title,
  .result-card__play {
    color: var(--color-bg2);
  }
  .result-card__title {
    .song {
      font-size: 2em;
      margin: 0;
      font-weight: bold;
    }
    .artist {
      font-size: 1.23em;
      font-weight: bold;
    }
  }
  .result-card__play {
    font-size: 1.1em;
  }
}

.results-section {
  &.songs {
    .results-wrapper {
      margin-left: 8ch;
    }
  }
  &.artists {
    .results-wrapper {
      margin-right: 8ch;
    }
  }
  &.days,
  &.hours {
    .results {
      > svg {
        fill: var(--color-fg2);
        margin-bottom: 1rem;
      }
    }
  }
  &.days {
    .results {
      .tooltip {
        padding: 1ch;
        max-width: 33vw;
        h1 {
          font-size: 1.5em;
          margin: 0 0 0.5ch;
        }
        h2 {
          font-size: 1.2em;
          margin: 0;
        }
        .abatract {
          margin-bottom: 1ch;
        }
        section:not(:last-of-type) {
          margin-bottom: 1ch;
        }
      }
    }
  }
  &.hours {
    .toggle {
      > span {
        color: var(--red);
        user-select: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.results {
  .result {
    margin: 1ch 0;

    h3,
    h4 {
      margin: 0;
    }

    sup[role="tooltip"] {
      color: var(--red);
    }
  }
}

.color--fg2 {
  color: var(--color-fg2);
}

.font-weight--lighter {
  font-weight: lighter;
}

.font-weight--normal {
  font-weight: normal;
}
