@import "react-tooltip/dist/react-tooltip.css";

@import "flex";
@import "variables";
@import "theme";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  > #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    > article {
      flex: 1;
      width: 100%;
    }
  }
}

@import "typography";
@import "layout";

[role="button"] svg {
  fill: currentColor;
  height: 1em;
}

.icon-group {
  display: flex;
  align-items: center;
}

[role="tooltip"] {
  user-select: none;
  cursor: help;
}

rect:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--blue);
  &:active,
  &:hover {
    text-decoration: underline;
  }
  &:active,
  &:visited {
    color: var(--blue);
  }
}

@import "components";

@import "mobile";
