@import "@csszen/components.flex/flex.scss";

@import "variables";
@import "theme";
@import "layout";

html {
  scroll-behavior: smooth;
  background-color: var(--color-bg);
  font-size: calc(10px + 0.33vw);
  color: var(--color-fg);
}

$fontText: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
$fontDisplay: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Open Sans", "Helvetica Neue", sans-serif;

body {
  font-family: $fontText;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: var(--color-fg);
  overflow-x: hidden;
  > #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    > article {
      flex: 1;
      width: 100%;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontDisplay;
}

h1 {
  font-weight: 600;
}

[role="button"] svg {
  fill: currentColor;
  height: 1em;
}

p {
  margin: 0;
}

hr {
  border: none;
  margin: 0;
}

.icon-group {
  display: flex;
  align-items: center;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

[role="separator"] {
  hr {
    width: 100%;
    border-top: 1px solid var(--color-bg3);
  }
}

[role="tooltip"] {
  user-select: none;
  cursor: help;
}

@import "components";
